<md-list class="menu">
    <md-list-item ng-click="Menu.goTo('panel.view.todos')">
        Todos
    </md-list-item>
    <md-list-item ng-click="Menu.goTo('panel.view.todos')">
        Imprint
    </md-list-item>
    <md-list-item ng-click="Menu.goTo('panel.view.todos')">
        About
    </md-list-item>
    <md-list-item ng-click="Menu.goTo('panel.view.todos')">
        Help
    </md-list-item>
    <md-list-item wu-is-auth ng-click="Menu.goTo('panel.view.settings')">
            <span>
                <md-icon md-font-library="material-icons">
                    &#xE8B8;
                </md-icon>
            Settings
            </span>
    </md-list-item>
    <md-list-item wu-is-auth ng-click="Menu.goTo('panel.view.logout')">
        Logout
    </md-list-item>
    <md-list-item wu-is-auth="false" ng-click="Menu.goTo('panel.view.login')">
        Login
    </md-list-item>
    <md-list-item wu-is-auth="false" ng-click="Menu.goTo('panel.view.registration')">
        Registration
    </md-list-item>
</md-list>
