<div class="todo-container">
    <div class="color-stripe" ng-click="Todo.editTodo(true)" ng-style="{'background-color':Todo.currentColor}">&nbsp;</div>
    <div class="todo-content">

        <!-- The Input Field -->

        <md-list-item>
            <md-input-container class="title" ng-click="Todo.editTodo(true)" md-no-float="true">
                <label>Type your Text here</label>
                <textarea type="text" ng-model="Todo.todo.title" columns="1" rows="1" name="title"
                          ng-model-options="{ debounce: 1000 }"
                          ng-change="Todo.startDelayedSyncing()"
                          aria-label="title">
                </textarea>
            </md-input-container>
            <md-button ng-hide="Todo.todo.finished"
                       ng-click="Todo.finish()">
                <md-icon alt="Finish Todo" md-font-library="material-icons">done_all</md-icon>
            </md-button>
            <md-button ng-show="Todo.todo.finished || Todo.todo.deletedAt" ng-click="Todo.restore()">
                <md-icon alt="Done Icon" md-font-library="material-icons">settings_backup_restore</md-icon>
            </md-button>
        </md-list-item>

        <md-divider ng-show="Todo.isInEditMode()"></md-divider>

        <!-- The Editor -->

        <md-list-item ng-show="Todo.isInEditMode()" class="editor">
            <md-toolbar class="md-accent" ng-hide="Todo.editcolors">
                <div class="md-toolbar-tools">
                    <md-button class="md-raised md-primary" aria-label="Pick Color Button" ng-click="Todo.editcolors=true">
                        <md-icon class="material-icons" md-font-library="material-icons">&#xE3B7;</md-icon>
                    </md-button>
                    <md-button class="md-raised md-primary alarm-button" arial-label="Pick alarm date" ng-click="Todo.setAlarm($event)" ng-class="{'md-hue-2': Todo.todo.alarm}">
                        <md-icon class="material-icons" md-font-library="material-icons">&#xE191;</md-icon>
                    </md-button>
                    <md-button class="md-raised md-primary repeat-button" arial-label="Select alarm interval" ng-click="Todo.setRepeat($event)" ng-class="{'md-hue-2': Todo.todo.repeat}">
                        <md-icon class="material-icons" md-font-library="material-icons">&#xE040;</md-icon>
                    </md-button>
                    <span flex></span>
                    <md-button class="md-raised md-primary">
                        <md-icon alt="Delete Icon" class="material-icons" md-font-library="material-icons" ng-click="Todo.deleteTodo(todo)" title="Finish Todo">&#xE872;</md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-toolbar ng-show="Todo.editcolors" layout="row" class="colors">
                    <div flex ng-style="{'background-color':color}" ng-repeat="(name,color) in Todo.colors" ng-click="Todo.selectColor(name);"></div>
            </md-toolbar>
        </md-list-item>

        <md-divider></md-divider>

        <!-- Editor Setting Chips -->

        <md-list-item class="editor">
            <div class="option-chips md-accent chips" layout="row" layout="wrap" layout-wrap layout-margin>
                   <div class="chip" ng-if="Todo.todo.repeatWeekly.length > 0" layout="row">
                       <div class="chip-content" flex="100">
                           <md-icon class="material-icons" md-font-library="material-icons">&#xE040;</md-icon>
                           W:
                            <span ng-repeat="weekday in Todo.todo.repeatWeekly">
                               {{::'weekdays.short.' + weekday | translate }}
                           </span>
                       </div>
                       <md-button class="md-primary md-raised" ng-click="Todo.todo.repeatWeekly=[]" flex="10">
                           <md-icon class="material-icons" md-font-library="material-icons">&#xE5CD;</md-icon>
                       </md-button>
                   </div>
                   <div class="chip" ng-if="Todo.todo.repeatMonthly.length > 0" layout="row">
                       <div class="chip-content" flex="100">
                           <md-icon class="material-icons" md-font-library="material-icons">&#xE040;</md-icon>
                           M:
                           <span ng-repeat="day in Todo.todo.repeatMonthly">
                               {{::day | lpad : 2}}
                           </span>
                       </div>
                       <md-button class="md-primary md-raised" ng-click="Todo.todo.repeatMonthly=[]" flex="10">
                           <md-icon class="material-icons" md-font-library="material-icons">&#xE5CD;</md-icon>
                       </md-button>
                   </div>
                   <div class="chip" ng-if="Todo.todo.alarm" layout="row">
                       <div class="chip-content" flex="100">
                           <md-icon class="material-icons" md-font-library="material-icons">&#xE191;</md-icon>
                           <span>{{ Todo.todo.alarmDate | date: 'yy-MM-dd HH:mm' }}</span>
                       </div>
                       <md-button class="md-primary md-raised" ng-click="Todo.todo.alarm=[]" flex="10">
                           <md-icon class="material-icons" md-font-library="material-icons">&#xE5CD;</md-icon>
                       </md-button>
                   </div>
               </div>
        </md-list-item>
    </div>
</div>
