<div class="todo-container">
    <div class="color-stripe" ng-click="Todo.editTodo(true)" ng-style="{'background-color':Todo.currentColor}">&nbsp;</div>
    <div class="todo-content">

        <!-- The Input Field -->

        <md-list-item>
            <md-input-container class="title" ng-click="Todo.editTodo(true)" md-no-float>
                <textarea type="text" ng-model="Todo.todo.title" columns="1" rows="1" name="title" aria-label="title" placeholder="Type your Text here"></textarea>
            </md-input-container>
            <md-icon alt="Delete Icon" ng-hide="Todo.isInEditMode()" md-font-library="material-icons" ng-click="Todo.deleteTodo(todo)">&#xE872;</md-icon>
            <md-icon alt="Done Icon"
                     ng-show="Todo.isShowDone()"
                     md-font-library="material-icons"
                     ng-click="Todo.done()"
                     ng-class="{'wu-fg md-primary hue-3': Todo.todo.dirty}">&#xE876;</md-icon>
        </md-list-item>

        <md-divider ng-show="Todo.isInEditMode()"></md-divider>

        <!-- The Editor -->

        <md-list-item ng-show="Todo.isInEditMode()" class="editor">
            <md-toolbar class="md-accent" ng-hide="Todo.editcolors">
                <div class="md-toolbar-tools">
                    <md-button class="md-raised md-primary" aria-label="Pick Color Button" ng-click="Todo.editcolors=true">
                        <md-icon class="material-icons" md-font-library="material-icons">&#xE3B7;</md-icon>
                    </md-button>
                    <md-button class="md-raised md-primary alarm-button" arial-label="Pick alarm date" ng-click="Todo.setAlarm($event)" ng-class="{'md-hue-2': Todo.todo.alarm}">
                        <md-icon class="material-icons" md-font-library="material-icons">&#xE191;</md-icon>
                    </md-button>
                    <md-button class="md-raised md-primary repeat-button" arial-label="Select alarm interval" ng-click="Todo.setRepeat($event)" ng-class="{'md-hue-2': Todo.todo.repeat}">
                        <md-icon class="material-icons" md-font-library="material-icons">&#xE040;</md-icon>
                    </md-button>
                    <span flex></span>
                    <md-button class="md-raised md-primary">
                        <md-icon alt="Delete Icon" class="material-icons" md-font-library="material-icons" ng-click="Todo.deleteTodo(todo)">&#xE872;</md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-toolbar ng-show="Todo.editcolors" layout="row" class="colors">
                    <div flex ng-style="{'background-color':color}" ng-repeat="(name,color) in Todo.colors" ng-click="Todo.selectColor(name);"></div>
            </md-toolbar>
        </md-list-item>

        <md-divider></md-divider>

        <!-- Editor Setting Chips -->
        <md-list-item class="editor">
            <md-toolbar class="option-chips md-accent" layout="row">
               <div class="md-toolbar-tools chips">
                   <div class="chip" ng-if="Todo.todo.repeatWeekly.length > 0">
                       <div class="chip-content">
                           <md-icon class="material-icons" md-font-library="material-icons">&#xE040;</md-icon>
                           Weekly: {{Todo.todo.repeatWeekly.join(' ')}}
                       </div>
                       <md-button class="md-primary md-raised" ng-click="Todo.todo.repeatWeekly=[]">
                           <md-icon class="material-icons" md-font-library="material-icons">&#xE5CD;</md-icon>
                       </md-button>
                   </div>
                   <div class="chip" ng-if="Todo.todo.alarm">
                       <div class="chip-content">
                           <md-icon class="material-icons" md-font-library="material-icons">&#xE191;</md-icon>
                           <span>{{ Todo.todo.alarmDate | date: 'yy-MM-dd HH:mm' }}</span>
                       </div>
                       <md-button class="md-primary md-raised" ng-click="Todo.todo.alarm=[]">
                           <md-icon class="material-icons" md-font-library="material-icons">&#xE5CD;</md-icon>
                       </md-button>
                   </div>
               </div>
            </md-toolbar>
        </md-list-item>
    </div>
</div>
