<div class="todo-container">
    <div class="color-stripe" ng-click="Todo.editTodo(true)" ng-style="{'background-color':Todo.currentColor}">&nbsp;</div>
    <div class="todo-content">

        <!-- The Input Field -->

        <md-list-item>
            <md-input-container class="title" ng-click="Todo.editTodo(true)" md-no-float >
                <textarea type="text" ng-model="Todo.todo.title" columns="1" rows="1" name="title" aria-label="title" placeholder="Type your Text here"></textarea>
            </md-input-container>
            <md-icon alt="Delete Icon" ng-hide="Todo.edit" md-font-library="material-icons" ng-click="Todo.delete(todo)">&#xE872;</md-icon>
            <md-icon alt="Done Icon" ng-show="Todo.edit" md-font-library="material-icons" ng-click="Todo.done()">&#xE876;</md-icon>
        </md-list-item>

        <md-divider ng-show="Todo.edit"></md-divider>

        <!-- The Editor -->

        <md-list-item ng-show="Todo.edit" class="editor">
            <md-toolbar class="md-accent" ng-hide="Todo.editcolors">
                <div class="md-toolbar-tools">
                    <md-button class="md-raised md-primary" aria-label="Pick Color Button" ng-click="Todo.editcolors=true">
                        <md-icon class="material-icons" md-font-library="material-icons">&#xE3B7;</md-icon>
                    </md-button>
                    <md-button class="md-raised md-primary alarm-button" arial-label="Pick alarm date" ng-click="Todo.setAlarm($event)">
                        <md-icon class="material-icons" md-font-library="material-icons">&#xE191;</md-icon>
                        <span>{{Todo.todo.alarmDate | date : 'yyyy-MM-dd' }}</span>
                    </md-button>
                    <md-button class="md-raised md-primary repeat-button" arial-label="Select alarm interval" ng-click="Todo.setRepeat($event)">
                        <md-icon class="material-icons" md-font-library="material-icons">&#xE040;</md-icon>
                        <span>{{Todo.repeattext}}</span>
                    </md-button>
                    <span flex></span>
                    <md-button class="md-raised md-primary">
                        <md-icon alt="Delete Icon" class="material-icons" md-font-library="material-icons" ng-click="Todo.delete(todo)">&#xE872;</md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-toolbar ng-show="Todo.editcolors" layout="row" class="colors">
                <div flex ng-style="{'background-color':color}" ng-repeat="(name,color) in Todo.colors" ng-click="Todo.selectColor(name);"></div>
            </md-toolbar>
        </md-list-item>
    </div>
</div>
