.md-sidenav-left {
    transition: 600ms;
    header {
        text-align: center;
        padding: 1rem;
        background-color: rgba(255, 255, 255, 0.2);
        .wanamuicon {
            height: 4rem;
        }
        .heading {
            transition: 600ms;
            margin: 0.2rem;
        }
    }
    &.minimized {
        overflow-x: hidden;
        transition:
            all 600ms ease-out;
        width: 80px;
        min-width: 80px;
        .text {
            display: none;
        }
        .heading {
            transition: all 600ms ease-out;
            margin:0;
            font-size:0;
        }
    }
    md-list-item .md-button {
        white-space: nowrap;
    }
}

md-list.menu {
    padding-top: 0;
    .md-button {
        font-size: 1.5rem;
        min-height: 3rem;
    }
    md-list-item:hover {
        color:rgba(0,0,0,0.54);
    }
    md-list-item.active {
        color:rgba(0,0,0,0.54);
        background-color: rgba(255, 255, 255, 0.51);
        .md-button {
            cursor: default;
        }
    }
    .md-list-item-inner {
        justify-content: flex-start;
    }
}
