<div class="todolist">
    <div class="toolbar">
        <div class="colors">
            <div class="full-circle color1">
                <iron-icon icon="done"></iron-icon>
            </div>
        </div>
        <div class="buttons">
            <button><iron-icon icon="add"></iron-icon></button>
        </div>
    </div>
    <div class="todo" ng-repeat="todo in Todolist.list">
        <span class="left"><iron-icon icon="delete"></iron-icon></span>
        <span class="center" ui-sref="panel.view.todos.todo({ id: todo.id })">{{todo.title}}</span>
        <span class="right" ui-sref="panel.view.todo.todo({ id: todo.id })">Icon</span>
    </div>
</div>
