
.datetimepicker {
    max-height: 600px;
    button {
        border-radius: 0;
    }
    .datepicker {
        padding-right: 4px;
        .yearpicker, .monthpicker {
            font-size: 24px;
        }
        .yearpicker {
            background-color: rgb(116,127,144);
        }
        .monthpicker {
            border-top: 1px solid #868686;
            border-bottom: 1px solid #868686;
        }
        .daypicker {
            background-color: #D8D8D8;
            .selected {
                color:white;
                box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.16);
                background-color: rgb(80,94,110);
            }
        }
    }
    .timepicker {
        .daytimepicker {
            margin-bottom: 1rem;
            button {
                margin-left: 0;
                margin-right: 0;
                &.md-raised {
                    box-shadow: none;
                }
                &.md-primary {
                    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.26);
                }
            }
        }
        .hourpicker {
            border-right: 1px solid #D8D8D8;
            .selected {
                color:white;
                box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.16);
                background-color: rgb(80,94,110);
            }
        }
        .minutepicker {
            .selected {
                color:white;
                box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.16);
                background-color: rgb(80,94,110);
            }
        }
    }

    .bottombar {
        text-align: right;
    }
}
