<md-toolbar class="header">
    <div class="md-toolbar-tools">
        <span ng-if="!Header.menuopen">
             <md-button class="md-icon-button" ui-sref="panel.view.menu" ng-class="{open: Header.menuopen}" >
                 <md-icon alt="Menu Icon" md-font-library="material-icons">&#xE5D2;</md-icon>
             </md-button>
        </span>
       <span ng-if="Header.menuopen">
            <md-button class="md-icon-button" ui-sref="{{Header.laststate}}" ng-class="{open: Header.menuopen}" >
                <md-icon alt="Menu Icon" md-font-library="material-icons">&#xE5CB;</md-icon>
            </md-button>
       </span>
        <span flex></span>
        <div ui-view="headertoolbar"></div>
    </div>
</md-toolbar>
