<header ui-view="header"></header>
<md-content class="panel" layout-padding flex>
    <div class="components" ng-show="Panel.panelService.isComponentOpen">
        <!---DateTimePicker --->
        <div ng-show="Panel.panelService.isDateTimePickerOpen">
            <wu-date-time-picker date="Panel.panelService.dtpopts.date"></wu-date-time-picker>
            <div class="md-actions" layout="row">
                <span flex></span>
                <md-button ng-click="Panel.panelService.resolveDateTimePicker()" class="md-primary md-raised" arial-labe="ok">
                    OK
                </md-button>
                <md-button ng-click="Panel.panelService.rejectDateTimePicker()" class="md-primary md-raised" arial-label="cancel">
                    Cancel
                </md-button>
            </div>
        </div>
        <!--- RepeatPicker --->
        <div ng-show="Panel.panelService.isRepeatPickerOpen">
            <wu-repeat opts="Panel.panelService.repeatopts"></wu-repeat>
            <div class="md-actions" layout="row">
                <span flex></span>
                <md-button ng-click="Panel.panelService.resolveRepeatPicker()" class="md-primary md-raised" arial-labe="ok">
                    OK
                </md-button>
                <md-button ng-click="Panel.panelService.rejectRepeatPicker()" class="md-primary md-raised" arial-label="cancel">
                    Cancel
                </md-button>
            </div>
        </div>
    </div>
    <!-- Content -->
    <content ui-view ng-show="!Panel.panelService.isComponentOpen"></content>
</md-content>
<footer ui-view="footer"></footer>
