<header ui-view="header"></header>
<md-content class="panel" layout-padding flex md-scroll-y>
    <div class="components" ng-show="Panel.panelService.isComponentOpen">
        <!---DateTimePicker --->
        <div ng-show="Panel.isDateTimePickerOpen()">
            <wu-date-time-picker date="Panel.panelService.dtpopts.date"></wu-date-time-picker>
            <div class="md-actions" layout="row">
                <span flex></span>
                <md-button ng-click="Panel.resolveDateTimePicker()" class="md-primary md-raised" arial-labe="ok">
                    OK
                </md-button>
                <md-button ng-click="Panel.rejectDateTimePicker()" class="md-primary md-raised" arial-label="cancel">
                    Cancel
                </md-button>
            </div>
        </div>
        <!--- RepeatPicker --->
        <div ng-show="Panel.panelService.isRepeatPickerOpen">
            <wu-repeat opts="Panel.panelService.repeatopts"></wu-repeat>
            <div class="md-actions" layout="row">
                <span flex></span>
                <md-button ng-click="Panel.resolveRepeatPicker()" class="md-primary md-raised" arial-labe="ok">
                    OK
                </md-button>
                <md-button ng-click="Panel.rejectRepeatPicker()" class="md-primary md-raised" arial-label="cancel">
                    Cancel
                </md-button>
            </div>
        </div>
        <wu-login login-success-callback="Panel.panelService.loginSuccessCallback" ng-if="Panel.panelService.isLoginOpen"></wu-login>
    </div>
    <!-- Content -->
    <content ui-view ng-show="!Panel.isComponentOpen()"></content>
</md-content>
<footer ui-view="footer" layout="row" flex></footer>
