<section class="login">
    <img class="logo" src="/images/TodoIt Logo big.svg">

    <div class="form-container">
        <form name="loginform" role="form" ng-submit="Login.login()">

            <div class="input-container">
                <input type="text" name="username" placeholder="{{'login.email' | translate}}"
                       ng-pattern="Login.pattern"
                       ng-model="Login.form.username"
                       required>
                <div ng-messages="loginform.username.$error" ng-show="loginform.$submitted && loginform.username.$invalid">
                    <div ng-message="required" class="error">{{'validation.messages.fieldNotEmpty' | translate}}</div>
                    <div ng-message="pattern" class="error">Please enter a valid email</div>
                </div>
            </div>
            <div class="input-container">
                <input type="password" name="password" value="" placeholder="{{'login.password' | translate}}" ng-model="Login.form.password" required>
                <div ng-messages="loginform.password.$error" ng-show="loginform.$submitted && loginform.password.$invalid">
                    <div ng-message="required" class="error">{{'validation.messages.fieldNotEmpty' | translate}}</div>
                </div>
            </div>

            <button type="submit">{{'login.login' | translate}}</button>
            <button type="button">{{'login.register' | translate}}</button>
        </form>
    </div>
</section>
