@font-face {
    font-family: 'robotomedium';
    src: url('font/Roboto-Medium-webfont.eot');
    src: url('font/Roboto-Medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Material Icons';
    src: url('font/MaterialIcons-Regular.eot');
    src: url('font/MaterialIcons-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}
$color1: #4990E2;
$color2: #868686;
$color3: #D8D8D8;
$color4: #ffffff;
$color-form-input: #212121;

$shadow1:  0px 2px 5px rgba(0, 0, 0, 0.26);

$default-fontsize: 1.2rem;
$fontsize-title: 2.8rem;
$fontsize-subtitle: 2rem;

$menu-maxwidth: 700px;
$todo-lineheight: 3rem;
$header-height: 4rem;

$text-color1: #ffffff;

html {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100%;
    background-color: #ffffff;
}

main {
    padding-top: $header-height +2rem;
    height: 100%;
    box-sizing: border-box;
}

footer {
    text-align: center;
    a {
        margin: 0 1rem;
    }
    position: absolute;
    left:0;
    right:0;
    bottom:2px;
    margin-left:auto;
    margin-right:auto;
}

input, textarea, select {
    color: $color-form-input;
    border: none;
    line-height: 1.8em;
    background-color: white;
    padding-left: 3px;
}

button.md-button {
    font-size: $default-fontsize;
    line-height: $todo-lineheight;
    min-height: $todo-lineheight;
}

header {
    height: $header-height;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.26);
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    top: 0;
    box-sizing: border-box;
}


.error {
    color: #ff6227;
    font-size: 0.8rem;
}


html .header {
    height: $header-height;
    padding: 2px;

    .menu-icon {
        height: $header-height;
        width: $header-height;
        color: $color1;
        &.open {
            color: $color2;
        }
        cursor: pointer;
    }

    .menu-logo {
        cursor: pointer;
        background-color: white;
        md-icon {
            max-height: $header-height;
            min-height: $header-height -1;
            width: auto;
        }
    }
}

html .panel {
    width: 100%;
    margin: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    box-sizing: border-box;
    padding: 0 1rem 0 1rem;

    .input-container {
        margin: 0.9rem 0;
        border-bottom: solid 1px $color3;
    }
    .login {
        .form-container{
            text-align: left;
            max-width: $menu-maxwidth;
            min-width: 300px;
            margin: 2rem auto auto auto;
            .md-button, input {
                font-size: $fontsize-subtitle;
                width: 100%;
            }
        }
    }
    .menu {
        margin: 0 auto;
        max-width: $menu-maxwidth;
    }
    .todolist {
        width: 700px;
        margin: 0 auto;
        align-self: flex-start;

        .toolbar {
            display: inline-flex;
            width: 100%;

            .colors {
                width:80%;
                box-sizing: border-box;
                text-align: center;

                .full-circle {
                    display: inline-block;
                    border: 1px solid $color4;
                    height: 36px;
                    width: 36px;
                    box-shadow: $shadow1;
                    -moz-border-radius:18px;
                    -webkit-border-radius: 18px;
                    border-radius: 18px;
                    cursor: pointer;
                }
                .color1 {
                    background-color: $color1
                }
            }
            .buttons {
                width: 20%;
                box-sizing: border-box;
                button {
                    margin: 0;
                    width: 37px;
                }
            }

            height: 3rem;
            text-align: right;
        }
        .todo {
            margin: 0.5rem 0;
            height: 3rem;
            line-height: $todo-lineheight;
            padding: 0;
            display: table;
            width: 100%;
            cursor: pointer;
            box-shadow: 0px 2px 2px #888888;

            .left, .right, .center {
                display: table-cell;
                padding: 0.1rem 0;
                border: 0;
                margin: 0;

            }
            .center {
                background-color: $color1;
                color: $color4;
                width: 70%;
            }
            .left {
                width: 10%;
                background: $color3;
                border-right: 1px solid $color2;
            }
            .right {
                width: 20%;
                background: $color2;
            }
        }
    }

    .todo-details {

        align-self: flex-start;

        form {
            .button-container {
                text-align: right;
            }
            .input-container {
                text-align: left;
                line-height: $fontsize-subtitle;;
                box-sizing: border-box;
                vertical-align: middle;
                label {
                    display: block;
                    margin: 2px 0;
                    text-align: left;
                    color: $color2;
                }
                input {
                    font-size: $fontsize-subtitle;
                }
                input, textarea {
                    color: #212121;
                    text-align: left;
                    padding-left: 0;
                    max-width: 100%;
                    width: 100%;
                }

                input.title {
                    line-height: 3.2rem;
                    font-size: $fontsize-title;
                }

                &.alarm, &.repeat {
                    input {
                        width: auto;
                        max-width: 8em;
                        box-sizing: border-box;
                    }
                }
            }
        }
    }

}
