<div class="todo-details">
    <div class="form-container">
        <form name="Todo.todoform" role="form" ng-submit="Todo.submit()" novalidate>
            <div ng-messages="Login.form.error">
                <div ng-message="error" class="error">{{Todo.form.error.message}}</div>
            </div>

            <paper-input label="Hund">
                <paper-container placeholder="test">
                    <label>Hund</label>
                    <input is="iron-input" >
                </paper-container>
            </paper-input>

            <div class="input-container">
                <label>{{'todo.form.title' | translate}}</label>
                <input type="text" name="title"
                       class="title"
                       ng-model="Todo.todo.title"
                       ng-required="true"
                       placeholder="{{'todo.form.eg.title' | translate}}"
                    >
                <div ng-messages="todoform.title.$error"
                     ng-show="todoform.$submitted && todoform.title.$invalid && todoform.title.$untouched"
                    >
                    <div ng-message="required" class="error">{{'validation.messages.fieldNotEmpty' | translate}}</div>
                    <div ng-message="pattern" class="error">Please enter a valid email</div>
                </div>

            </div>
            <div class="input-container">
                <label>{{'todo.form.description' | translate}}</label>
                    <textarea name="description" ng-model="Todo.todo.description" ng-maxlength="500" rows="5">
                    </textarea>
                    <div ng-messages="todoform.description.$error"
                         ng-show="todoform.$submitted && todoform.description.$invalid && todoform.description.$untouched"
                        >
                        <div ng-message="maxlength" class="error">{{'validation.messages.fieldToLong' | translate}}</div>
                    </div>
            </div>

            <div class="input-container alarm">
                <label>{{'todo.form.alarm' | translate}}</label>
                <paper-input type="text" name="alarm" value=""
                       ng-model="Todo.todo.alarm"
                    ></paper-input>
                <paper-button class="clear" ng-show="Todo.todo.alarm" ng-click="Todo.todo.alarm = ''"><iron-icon icon="clear"></iron-icon></paper-button>
                <div ng-messages="todoform.alarm.$error"
                     ng-show="todoform.$submitted && todoform.alarm.$invalid && todoform.alarm.$untouched"
                    >
                    <div ng-message="date" class="error">{{'validation.messages.invalidDate' | translate}}</div>
                </div>
            </div>
            <div class="input-container repeat" ng-show="Todo.todo.alarm">
                <label>{{'todo.form.repeat' | translate}}</label>
                <input type="text" name="alarm" value=""
                       ng-model="Todo.todo.repeat"
                    >
                <paper-button class="clear" ng-show="Todo.todo.repeat" ng-click="Todo.todo.repeat = ''"><iron-icon icon="clear"></iron-icon></paper-button>
                <div ng-messages="todoform.repeat.$error"
                     ng-show="todoform.$submitted && todoform.repeat.$invalid && todoform.repeat.$untouched"
                    >
                    <div ng-message="maxlength" class="error">{{'validation.messages.invalidValue' | translate}}</div>
                </div>
            </div>
            <div class="button-container">
                <paper-button type="submit" ng-class="{disabled: Todo.loading}" ng-click="Todo.submit()">{{'todo.form.submit' | translate}}</paper-button>
            </div>
        </form>
    </div>

</div>
