<div class="wu-datepicker">
    <div layout="column" layout-align="start center">
        <md-toolbar layout-align="center center" class="wu-datepicker-dow md-primary"><span>{{ DatePicker.currentMoment.format("dddd") }}</span>
        </md-toolbar>
        <md-toolbar layout-align="center center" class="wu-datepicker-date md-hue-1 md-primary" layout="column">
            <div class="wu-datepicker-month">{{ DatePicker.currentMoment.format("MMM") }}</div>
            <div class="wu-datepicker-day">{{ DatePicker.currentMoment.format("DD") }}</div>
            <md-select class="wu-datepicker-year" placeholder="{{ DatePicker.currentMoment.format('YYY') }}"
                       ng-model="DatePicker.year" ng-change="DatePicker.setYear()">
                <md-option ng-value="year" ng-repeat="year in DatePicker.yearsOptions">{{ year }}</md-option>
            </md-select>
        </md-toolbar>
    </div>
    <div layout="column" layout-align="start center" class="wu-datepicker-calendar">
        <div layout="row" layout-align="space-between center" class="wu-datepicker-monthyear">
            <md-button aria-label="mese precedente" class="md-icon-button" ng-click="DatePicker.prevMonth()" ng-disabled="!DatePicker.hasprevmonth">
                <md-icon
                    md-svg-src="/images/ic_chevron_left_black_24px.svg"></md-icon>
            </md-button>
            {{ DatePicker.currentMoment.format("MMMM YYYY") }}
            <md-button aria-label="mese successivo" class="md-icon-button" ng-click="DatePicker.nextMonth()">
                <md-icon
                    md-svg-src="/images/ic_chevron_right_black_24px.svg"></md-icon>
            </md-button>
        </div>
            <md-grid-list
                md-cols="7"
                md-row-height="1.5:1"
                md-gutter="0"
                class="daygrid"
                >
                <md-grid-tile
                    ng-repeat="d in DatePicker.weekDays">
                    {{ d }}
                </md-grid-tile>
                <md-grid-tile
                    ng-repeat="n in DatePicker.daysInMonth track by $index"
                    >
                    <md-button
                        aria-label="day selection"
                        ng-if="n.valid === true"
                        ng-class="{'md-raised': DatePicker.currentMoment.date() == n.day}"
                        ng-click="DatePicker.selectDate(n)"
                        ng-disabled="n.disabled">
                        {{ n.day }}
                    </md-button>

                </md-grid-tile>
            </md-grid-list>
    </div>
</div>
