<md-dialog aria-label="Datepicker Dialog" class="datedialog" flex flex-md="100">
    <md-dialog-content>
        <wu-date-time-picker date="DateDialog.date" allowpast="DateDialog.allowpast" changed="DateDialog.changed"></wu-date-time-picker>
    </md-dialog-content>
    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="DateDialog.ok(DateDialog.date)" class="md-primary md-raised" arial-labe="ok">
            OK
        </md-button>
        <md-button ng-click="DateDialog.cancel()" class="md-primary md-raised" arial-label="cancel">
            Cancel
        </md-button>
    </div>
</md-dialog>
