<md-dialog aria-label="Login Dialog" class="logindialog" flex flex-md="100">

    <md-dialog-content>
        <p ng-if="LoginDialog.errorMessage" class="wu-errorbar">{{LoginDialog.errorMessage}}ggg</p>
        <wu-login2 login-model="Login.loginScopeModel">
            <div class="md-actions" layout="row">
                <md-button class="md-primary md-raised" type="submit" ng-class="{disabled: LoginDialog.loading}" ng-click="LoginDialog.login()">{{'login.login' | translate}}</md-button>
                <md-button class="md-primary md-raised" type="button"  ng-click="LoginDialog.cancel()" >{{'login.cancel' | translate}}</md-button>
            </div>
        </wu-login2>
    </md-dialog-content>
</md-dialog>
