<div class="friends" layout-fill flex layout="column" layout-align="start center">
    <md-list flex>
        <md-list-item ng-repeat="friend in FriendCtrl.list"  flex="100" layout="row" class="md-with-secondary  md-whiteframe-z1" ng-click="FriendCtrl.ShowDetails(friend)">
            <img ng-src="{{::friend.Profile.face}}" class="md-avatar" src="/images/ic_person_outline_black_24px.svg" alt="{{::friend.Profile.name}}" />
            <p class="md-list-item-text">
                {{::friend.Profile.name}}
            </p>
            <div class="wu-actions">

                    <md-icon alt="Accept Invitation Friend" class="md-hue-3" md-font-library="material-icons" title="Accept Invitation Friend">&#xE7F2;</md-icon>

                    <md-icon alt="Remove Friend" class="md-hue-3" md-font-library="material-icons" title="Remove Friend">&#xE15B;</md-icon>

            </div>
        </md-list-item>
    </md-list>
    <div layout="column" ng-if="FriendCtrl.hasNoFriends()" layout-align="center center">
        <h2 flex="100" class="md-display-3">No Friends found</h2>
        <md-button class="md-raised md-primary" ng-click="FriendCtrl.addNewFriend()">
            <md-icon alt="Add Icon" md-font-library="material-icons">&#xE7FE;</md-icon>
            Add new Friend
        </md-button>
    </div>
</div>
