<form name="Login.loginModel.loginform" role="form" ng-submit="Login.login()" novalidate autocomplete="off">
    <md-input-container md-no-float>
        <label>{{'login.email' | translate}}</label>
        <input type="text" name="username"
               ng-pattern="Login.pattern"
               ng-model="Login.loginModel.username"
               required>
        <div ng-messages="Login.ngModel.loginform.username.$error"
             ng-show="Login.ngModel.loginform.$submitted">
            <div ng-message="required" ng-if="Login.loginform.$submitted">{{'validation.messages.fieldNotEmpty' | translate}}</div>
            <div ng-message="pattern">{{'validation.messages.notAValidEmail' | translate}}</div>
        </div>
    </md-input-container>
    <md-input-container md-no-float>
        <label>{{'login.password' | translate}}</label>
        <input type="password" name="password" ng-model="Login.loginModel.password" required>
        <div ng-messages="Login.ngModel.loginform.password.$error">
            <div ng-message="required"  ng-if="Login.loginform.$submitted">{{'validation.messages.fieldNotEmpty' | translate}}</div>
        </div>
    </md-input-container>
    <div ng-transclude></div>
</form>
