<md-toolbar class="md-whiteframe-z1 header md-accent">
    <div class="md-toolbar-tools">
        <span ng-if="!Header.menuopen">
             <md-button class="md-icon-button md-primary md-raised" ui-sref="panel.view.menu" ng-class="{open: Header.menuopen}">
                 <md-icon alt="Menu Icon" md-font-library="material-icons">&#xE5D2;</md-icon>
             </md-button>
        </span>
       <span ng-if="Header.menuopen">
            <md-button class="md-icon-button md-primary md-raised" ui-sref="{{Header.laststate}}" ng-class="{open: Header.menuopen}" >
                <md-icon alt="Menu Icon" md-font-library="material-icons">&#xE5CB;</md-icon>
            </md-button>
       </span>
        <span flex></span>
        <div ui-view="headertoolbar"></div>

        <!-- Profile Button -->
        <md-button class="md-icon-button md-raised md-primary"  ui-sref="panel.view.profile">
            <md-icon md-font-library="material-icons" ng-if="!Header.user.image">
                &#xE87C;
            </md-icon>
            <img ng-src="{{Header.user.settings.face}}" ng-if="Header.user.image" class="md-avatar" alt="{{Header.user.firstname}}" />
        </md-button>
    </div>
</md-toolbar>
