<div class="datetimepicker">
    <div layout="flex">
        <div flex="50" class="datepicker">
            <div class="yearpicker">
                <md-button class="md-icon-button" disable>
                    <md-icon  md-svg-icon="/images/ic_chevron_left_black_24px.svg" ></md-icon>
                </md-button>
                <span>{{Ctrl.datedata.date | date:'yyyy'}}</span>
                <md-button class="md-icon-button">
                    <md-icon  md-svg-icon="/images/ic_chevron_right_black_24px.svg" ></md-icon>
                </md-button>
            </div>
            <div class="monthpicker">
                <md-button class="md-icon-button">
                    <md-icon  md-svg-icon="/images/ic_chevron_left_black_24px.svg" ></md-icon>
                </md-button>
                <span>{{Ctrl.datedata.date | date:'MMMM'}}</span>
                <md-button class="md-icon-button">
                    <md-icon  md-svg-icon="/images/ic_chevron_right_black_24px.svg" ></md-icon>
                </md-button>
            </div>
            <md-grid-list class="daypicker"
                md-cols-gt-md="6" md-cols-sm="3" md-cols-md="5"
                md-row-height="1:1">
                <md-grid-tile
                    ng-repeat="tile in Ctrl.daytiles" ng-class="{selected: tile.value==Ctrl.day}">
                    {{tile.value}}
                </md-grid-tile>

            </md-grid-list>
        </div>
        <div flex="50" class="timepicker">
            <div class="daytimepicker">
                <md-button class="md-raised" ng-class="{'md-primary': Ctrl.daytime=='am'}" ng-click="Ctrl.changeDaytime('am')">
                    AM
                </md-button>
                <md-button class="md-raised" ng-class="{'md-primary': Ctrl.daytime=='pm'}" ng-click="Ctrl.changeDaytime('pm')">
                    PM
                </md-button>
            </div>

            <div layout="flex">
                <div flex="50" class="hourpicker">
                    <md-grid-list md-cols-gt-md="2" md-cols-sm="2" md-cols-md="2"
                                  md-row-height="3rem">
                        <md-grid-tile ng-repeat="hour in Ctrl.hours" ng-class="{selected: hour==Ctrl.hour}">
                            {{hour | lpad:2}}
                        </md-grid-tile>

                    </md-grid-list>
                </div>
                <div flex="50" class="minutepicker">
                    <md-grid-list md-cols-gt-md="2" md-cols-sm="2" md-cols-md="2"
                                  md-row-height="3rem">
                        <md-grid-tile ng-repeat="minute in Ctrl.minutes" >
                            <md-button ng-click="Ctrl.changeMinute(minute)" ng-class="{'md-primary md-raised': minute==Ctrl.minute}">{{minute | lpad:2}}</md-button>
                        </md-grid-tile>

                    </md-grid-list>
                </div>
            </div>
        </div>
    </div>
    <div class="bottombar">
        <md-button class="md-raised" arial-label="ok button">OK</md-button>
    </div>
</div>
