/* Main Styles */
md-grid-tile.pick {
    cursor: pointer;
}
.wu-datepicker {
    max-height: initial;
    .daygrid {
        width: 100%;
        @media (max-width: 600px) {
            margin: 0 1rem;
        }
    }
    & * {
        outline: 0;
    }

    .slide-picker {
        width: 100%;
        height: 3rem;
        md-grid-tile {
            cursor: pointer;
            font-size: 2rem;
            line-height: 2rem;
            md-icon svg {
                color: white;
                fill: white
            }
        }
    }

    .month {
        font-size: 1.5rem;
        @media (max-width: 599px){
            font-size: 1.2rem;
        }
    }
    .day {
        font-size: 3.0rem;
        line-height: 1.2;
        @media (max-width: 599px){
            font-size: 2rem;
        }
        @media (max-width: 400px){
            font-size: 1.2rem;
        }
    }
    .dow {
        font-size: 2rem
    }
}

md-select.wu-datepicker-year {
    font-size: 1.5rem;
    padding: 0;
    margin: 0.2rem 0 0.8rem;

}
.wu-datepicker-date {
    padding: 5px 0;
}

.wu-datepicker-year .md-select-label {
    padding: 0;
    color: inherit !important;
}

.wu-datepicker-days {
    font-size: 1rem;
    max-width: 100%;
}

.wu-datepicker-day-marker {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}

.wu-timepicker  {
    * {
        outline: 0;
    }
    .clock-svg-box {
        .minute {
            color: white;
            fill: white;
        }
        #background-hour {
            background-color: white;
            fill: white;
        }
        width: 100%;
        svg {
            width: 100%;
            height: 30rem;
            text {
                font-weight: bold;
            }
            @media (max-width: 600px) {
                height: 20rem;
            }
        }
    }
    .marker, .number {
        cursor: pointer;
    }
    .daytime-picker {
        font-size: 2rem;
        line-height: 2rem;
    }
    .timepicker {
        position: relative;
        .time-label {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            font-size: 3rem;
            @media (max-width: 400px) {
                font-size: 1.8rem;
            }
        }
    }
}

wu-repeat, wu-date-picker {
    .weekgrid md-grid-tile, .daygrid md-grid-tile{
        outline: none;
        font-size: 2rem;
        text-transform: uppercase;
        cursor: pointer;
    }

    .daygrid .weekday {
        font-size: 1.7rem;
        text-transform: uppercase;
        cursor: default;
    }
}

.wu-date-time-picker {
    .timepicker .time-label {
        @media (max-width: 1000px) {
            font-size: 2.5rem;
        }
        @media (max-width: 800px) {
            font-size: 2.0rem;
        }
        @media (max-width: 400px) {
            font-size: 1.8rem;
        }
    }
}


