<md-content class="setting" layout="column" layout-align="center center">
    <form name="Setting.settingform">
        <h2 class="md-display-2">Todo Colors</h2>
        <md-input-container>
            <input type="hidden" ng-model="Setting.setting.color1" name="color1">
            <md-button ng-style="{'background-color': Setting.setting.color1}" ng-click="Setting.pickColor('color1')">
                {{'setting.color1' | translate }}
            </md-button>
        </md-input-container>
        <md-input-container>
            <input type="hidden" ng-model="Setting.setting.color2" name="color2">
            <md-button ng-style="{'background-color': Setting.setting.color2}" ng-click="Setting.pickColor('color2')">
                {{'setting.color2' | translate }}
            </md-button>
        </md-input-container>
        <md-input-container>
            <input type="hidden" ng-model="Setting.setting.color3" name="color3">
            <md-button ng-style="{'background-color': Setting.setting.color3}" ng-click="Setting.pickColor('color3')">
                {{'setting.color3' | translate }}
            </md-button>
        </md-input-container>
        <md-input-container>
            <input type="hidden" ng-model="Setting.setting.color4" name="color4">
            <md-button ng-style="{'background-color': Setting.setting.color4}" ng-click="Setting.pickColor('color4')">
                {{'setting.color4' | translate }}
            </md-button>
        </md-input-container>
        <md-input-container>
            <input type="hidden" ng-model="Setting.setting.color5" name="color5">
            <md-button ng-style="{'background-color': Setting.setting.color5}" ng-click="Setting.pickColor('color5')">
                {{'setting.color5' | translate }}
            </md-button>
        </md-input-container>
        <div class="md-actions" layout="row">
            <span flex></span>
            <md-button ng-click="Setting.save()" class="md-primary md-raised" arial-label="ok" ng-disabled="!Setting.isReadyForSave()">
                Save
            </md-button>
        </div>
    </form>
</md-content>
