<header>
    <img class="wanamuicon" src="images/wanamu%20flower.svg">
    <h1 class="heading md-heading">Wanamu</h1>
</header>

<md-list class="menu wu-hover md-accent">
    <md-list-item wu-is-auth ng-click="Sidebar.goTo('panel.view.todos')" ui-sref="panel.view.todos" ui-sref-active="active">
         <span>
            <md-icon md-font-library="material-icons">
                filter_vintage
            </md-icon>
         <span class="text">Todos</span>
        </span>
    </md-list-item>
    <md-list-item wu-is-auth ng-click="Sidebar.goTo('panel.view.setting')" ui-sref="panel.view.setting" ui-sref-active="active">
        <span>
            <md-icon md-font-library="material-icons">
                &#xE8B8;
            </md-icon>
        <span class="text">Settings</span>
        </span>
    </md-list-item>
    <md-list-item wu-is-auth ng-click="Sidebar.goTo('panel.view.logout')">
        <span>
            <md-icon md-font-library="material-icons">
                adjust
            </md-icon>
        <span class="text">Logout</span>
        </span>
    </md-list-item>
    <md-list-item wu-is-auth="false" ng-click="Sidebar.goTo('panel.view.login')" ui-sref="panel.view.login" ui-sref-active="active">
        <span>
            <md-icon md-font-library="material-icons">
                exit_to_app
            </md-icon>
        <span class="text">Login</span>
        </span>
    </md-list-item>
    <md-list-item wu-is-auth="false" ng-click="Sidebar.goTo('panel.view.registration')" ui-sref="panel.view.registration" ui-sref-active="active">
        <span>
            <md-icon md-font-library="material-icons">
                assignment
            </md-icon>
         <span class="text">Registration</span>
        </span>
    </md-list-item>
    <md-list-item ng-click="Sidebar.goTo('panel.view.todos')">
         <span>
            <md-icon md-font-library="material-icons">
                help
            </md-icon>
         <span class="text">Help</span>
        </span>
    </md-list-item>
</md-list>
